/* work sans font from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

/* nav styles starts here */
nav {
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.nav-container {
    height: 130px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1400px;
    margin: 0 auto;
}

.logo-container {
    display: flex;
    width: 50%;
    align-items: center;

}

.logo-container img {
    width: 85px;
    height: 40px;
    object-fit: cover;
    margin-right: 20px;
}

.logo-container h3 {
    font-size: 2.813rem;
}

.game-text {
    color: #FF42A5;
}

.nav-items-container {
    display: flex;
    justify-content: space-between;
}

.nav-items-container a {
    text-decoration: none;
    margin-right: 32px;
    color: #3C354F;
    text-align: center;
    font-size: 1.125rem;
    font-weight: 500;
    display: flex;
    align-items: center;
}

.flow-us {
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 15px 15px;
}

.nav-items-container .fa-youtube {
    margin-left: 24px;
    color: #F61C0D;
    width: 33.916px;
    height: 24px;
    padding-bottom: 40px;
}

.nav-items-container .fa-tiktok {
    margin-left: 16px;
    width: 24px;
    height: 24px;
    padding-bottom: 40px;
    color: #000000;
}

/* banner section styles starts here */

.banner-container {
    min-height: 50px;
    display: flex;
}

.banner-content {

    width: 50%;
    text-align: center;
    background-image: url("../images/Group 14.png");


}

.banner-content h3 {
    color: #0B0223;
    font-size: 3rem;
    font-weight: 600;
    margin-top: 148px;

}

.banner-content h1 {
    background-image: linear-gradient(#F948B2, #8758F1);
    color: transparent;
    -webkit-background-clip: text;
    font-size: 95px;
    padding-right: 15px;
}

.banner-content p {
    color: #534C64;
    font-size: 1.25rem;
    font-weight: 500;
    margin-top: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.banner-img {
    width: 50%;
}

.banner-img img {
    width: 100%;
    height: 100%;
}

.banner-btn {
    padding: 21px 40px;
    border-radius: 48px;
    background-color: #FF42A5;
    border: none;
    color: white;
    margin-top: 41px;
    margin-right: 24px;


}

.Go-rogue-btn {
    background-color: #4EC5F7;
}

.instant-click {
    padding-right: 150px;
}

.no-download {
    padding-right: 209px;
}

.supported-online-games {
    padding-right: 20px;
}

/* online game section styles starts here */

.online-game-title {
    color: #0B0223;
    font-size: 3rem;
    font-weight: 700;
    margin-top: 120px;
    text-align: center;
}

.funny-video-text {
    background-image: linear-gradient(#F948B2, #8758F1);
    color: transparent;
    -webkit-background-clip: text;
}

.online-game-description {
    color: #534C64;
    font-size: 1.125rem;
    font-weight: 400;
    margin-top: 16px;
    text-align: center;
}

.online-games-cards-container {
    max-width: 1400px;
    margin: 48px auto 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;

}

.card img {
    width: 100%;
}

.breaking-img-container {
    position: relative;
}

.breaking-img {
    display: block;
    width: 100%;
}

.over-lay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 85.2%;
    border-radius: 19.9px;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
}

.over-lay:hover {
    opacity: 1;
}

.over-lay-title {
    font-size: 3rem;
}

.watch-now {
    color: #F948B2;
    font-size: 1.5rem;
}

.card-description {
    padding-top: 24px;
}

/* Play Instantly section styles starts here */

.play-instantly {
    max-width: 1400px;
    margin: 120px auto 0;
    display: flex;
    align-items: center;
    gap: 260px;

}

.play-instantly-content {
    width: 60%;
    margin-bottom: 220px;
}

.play-instantly-img-container {
    width: 60%;
}

.play-instantly-img-container img {
    width: 100%;

}

.play-instantly-title {
    color: #0B0223;
    font-size: 3rem;
    font-weight: 700;
    margin-left: 200px;
    text-align: center;
}

.play-instantly-text {
    color: #F948B2;
}

.play-instantly-description {
    color: #534C64;
    font-size: 1.125;
    font-weight: 400;
    margin-left: 300px;
    margin-top: 24px;
}

.dool-img-container img {
    width: 50%;
    position: relative;
    bottom: 240px;
    right: 150px;
}

/* btn-container section style starts here */
.btn-container {
    display: flex;
    margin: 0 auto;
    gap: 27px;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 281px;
    height: 80px;
    border-radius: 50px;
    background-color: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    border: none;
    cursor: pointer;
}

.btn img {
    width: 50px;
}

.btn p {
    color: #0B0223;
    font-size: 20px;
    font-weight: 600;
}

.btn p:hover {
    color: #FF42A5;
}

.btn:focus {
    outline-color: transparent;
    outline-style: solid;
    box-shadow: 0 0 0 2px #FF42A5;
}

/* footer section starts here */

.footer-section {
    height: 600px;
    margin-top: 129px;
    background-color: #0B0223;
}

.footer-gamer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 120px;
}

.footer-gamer-title {
    font-size: 45px;
    font-weight: 700;
    color: #FFF;
}

.footer-title-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 60px;
    padding-top: 66px;
}

.title {
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
}

.social-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 40px;
    padding-top: 66px;
}

.fa-brands {
    color: #FFF;
    width: 40px;
    height: 40px;
    font-size: 40px;
    text-align: center;
}

.all-policy {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 60px;
    padding-top: 66px;
}

.all-policy p {
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
    font-weight: 500;
}

.footer-description-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 28px;
}

.footer-description {
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
    font-weight: 500;
}

/* footer section end here */










/* responsive for mobile devices */

@media screen and (max-width:425px) {

    /*  nav and banner section responsive starts here */

    .nav {
        width: 100%;
    }

    .nav-container {
        width: 100%;
        height: 100%;
        flex-direction: column;
    }

    .nav-items-container {
        flex-direction: column;
    }

    .logo-container {
        margin-top: 10px;
        margin-right: 50px;
    }

    .flow-us {
        margin-top: 20px;
        margin-bottom: 10px;
        margin-left: 30px;
    }

    .about-us {
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 100px;
    }

    .developers {
        margin-left: 100px;
    }

    /* nav and banner section responsive end here */

    /* banner section responsive started here */
    .banner-container {
        flex-direction: column;
    }

    .banner-content {
        width: 100%;
        margin-top: 20px;
    }

    .banner-img {
        width: 100%;
        margin-top: 20px;
    }

    .banner-content h3 {
        margin-bottom: 20px;
    }

    .banner-content h1 {
        margin-bottom: 20px;
    }

    .banner-content p {
        margin-bottom: 20px;
    }

    .banner-btn {
        margin-bottom: 50px;
    }

    /* banner section responsive end here */

    /* online game section responsive starts here */

    .online-games-cards-container {
        grid-template-columns: 1fr;
    }

    .over-lay {
        width: 100%;

        height: 88.7%;

    }


    .online-game-description {
        width: 90%;
        margin-left: 15px;
    }

    .card-description {
        width: 90%;
        margin-left: 18px;
    }

    /* online game section responsive end here */

    /* play intantly section responsive starts here */
    .play-instantly {
        flex-direction: column;
    }

    .play-instantly-content {
        width: 100%;
        margin-bottom: -200px;
    }

    .play-instantly-img-container {
        width: auto;
        height: 100px;
        margin-bottom: 150px;

    }

    .play-instantly-img-container img {
        height: 370px;
        width: 70%;
        margin-left: 120px;
    }

    .dool-img-container img {
        width: 45%;
        height: 220px;
        position: relative;
        bottom: 180px;
        margin-left: 190px;
    }

    .play-instantly-title {
        margin-left: 20px;
        text-align: center;
    }

    .play-instantly-description {
        width: auto;
        padding: 20px;
        margin-left: 5px;
        margin-top: 24px;
        text-align: center;
    }

    /* play intantly section responsive end here  */

    /* btn-container section reponsive starts here  */
    .btn-container {
        width: 100%;
        margin-top: 250px;
    }

    .btn {
        gap: 2px;
        width: 25%;
        height: 50%;
        margin-right: 5px;
    }

    .btn img {
        width: 30px;
    }

    .btn p {
        width: 100%;
        text-align: center;
        font-size: 10px;
    }

    /*  btn-container section reponsive end here  */

    /* footer section  responsive starts here */
    .footer-section {
        width: 425px;
        height: 100%;
    }

    .all-policy p {
        font-size: 20px;
    }

    .all-policy {
        gap: 30px;
        margin-left: 10px;
    }

    .social-container {
        gap: 90px;
    }

    .footer-description {
        font-size: 17px;
        text-align: center;
    }

    /* footer section responsive end here */

}

/* responsive for medium/tablet devices */

@media screen and (min-width: 426px) and (max-width: 768px) {

    /* nav section responsive starts here */
    .nav {
        width: 100%;
    }

    .nav-container {
        width: 100%;
        flex-direction: column;
    }

    .logo-container img {
        width: 22%;
        margin-left: 10px;
    }

    .logo-container h3 {
        font-size: 2.5rem;
    }

    .nav-items-container {
        flex-wrap: wrap;
        gap: 100px;
        margin-bottom: 15px;
        align-items: center;

    }

    .nav-items-container a {
        margin-right: 20px;
        font-size: 1.25rem;
        font-weight: 500;
        margin-top: 10px;

    }

    .flow-us {
        padding: 3px
    }

    .fa-youtube {
        margin-right: 7px;
    }

    .fa-tiktok {
        margin-right: 10px;
    }

    /* nav section responsive end here */

    /* banner section responsive starts here */

    .banner-content h3 {
        font-size: 2.5rem;
    }

    .banner-content h1 {
        font-size: 4.5rem;
    }

    .banner-content p {
        font-size: 1rem;
    }

    .instant-click {
        padding-left: 16px;
    }

    .no-download {
        padding-right: 175px;
    }

    /* banner section responsive end here */

    /* online-game secton responsive starts here */

    .online-game-title {
        font-size: 2.5rem;
    }

    .online-game-description {
        font-size: 1rem;
    }

    .online-games-cards-container {
        gap: 10px;
        padding: 8px;
    }

    .over-lay {
        width: 100%;
        height: 70.5%;
        border-radius: 10px;

    }

    .over-lay-title {
        font-size: 2rem;
    }

    .watch-now {
        font-size: 1rem;
    }

    /* online-game secton responsive end here */


    /* play-instantly section responsive starts here */

    .play-instantly {
        width: 100%;

    }

    .play-instantly-content {
        width: 100%;


    }

    .play-instantly-title {
        font-size: 2rem;
        margin-left: 2px;
    }

    .play-instantly-description {
        font-size: 16px;
        margin-left: 20px;
    }

    .play-instantly-img-container img {
        width: 300px;
    }

    .dool-img-container {
        margin-top: 95px;
        margin-left: 60px;
    }

    .dool-img-container img {
        width: 140px
    }

    /* play-instantly section responsive end here */

    /* btn-container section responsive starts here */

    .btn-container {
        width: 100%;
        /* margin-top: 20px; */
    }

    .btn {
        width: 30%;
        height: 50%;
        margin-right: 5px;
        padding-left: 20px;
    }

    .btn img {
        width: 40px;
    }

    .btn p {
        width: 100%;
        text-align: center;
        font-size: 14px;
    }

    /* btn-container section responsive end here  */

    /* footer section responsive starts here */

    .footer-title-container {
        gap: 43px;
    }

    .footer-description-container {
        margin-top: 40px;

    }

    /* footer section responsive end here */


}